@media all and (min-width: 480px) {
  .SignUp {
    justify-content: center;
    display: flex;
    align-self: center;
  }

  .SignUp form {
    margin: 0 auto;
    max-width: 320px;
  }

  button {
    background-color: rgb(250, 186, 127);
    color: white;
    padding: 1%;
    border-radius: 6%;
  }
  
  button:hover {
    background-color: rgb(247, 233, 158);
  }

  .Details {
    width: 30%;
    position: relative;
    align-self: center;
    border: thin dashed black;
    padding: 4%;
    background-color: rgb(250, 249, 246);
    box-shadow: 10px 10px 5px rgb(169, 134, 173);
  }

  .error {
    color: rgb(250, 107, 107);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }

  .SignUp-Link {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
